<h1>Sign Up</h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %><br>
<% end %>
<%= form_for(@user) do |f| %>
  <label for="left-label" class="left"><%= f.label :username %> </label>
  <%= f.text_field :username %><br>
  <label for="left-label" class="left"><%= f.label :email %> </label>
  <%= f.text_field :email %><br>
  <label for="left-label" class="left"><%= f.label :password %> </label>
  <%= f.password_field :password %><br>
  <label for="left-label" class="left"><%= f.label :password_confirmation %> </label>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Sign Up", class: 'button' %>
<% end %>