<h3>Welcome back <%= @user.username %></h3>

<p><%= link_to "Track new pass", new_pass_path %></p>

<p>All of your currently tracked passes:</p>

<% @passes.each do |pass| %>
    Pass name: <%= pass.name %><br>
    Pass duration in days: <%= pass.duration_day %><br>
    Pass cost: $<%= sprintf "%.2f", pass.total_cost %><br>
    Cost per day without pass: $<%= sprintf "%.2f", pass.daily_cost %><br>
    You need to attend <%= pass.name %> <%= pass.break_even_day %> time(s) to break even!<br>
<% end %>